<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM Tool</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <nav id="home-nav">
        <ul>
            <li><a href="#" class="nav-button">Create Customer</a></li>
            <li><a href="#" class="nav-button">Update Customer</a></li>
            <li><a href="#" class="nav-button">Delete Customer</a></li>
        </ul>
    </nav>
    <div id="showcase">
        <header>
            <h1>Welcome to CRM Tool</h1>
            <a href="#" class="nav-button">Show Customers</a>
        </header>
    </div>
    <section id="customer-section">
        <h1>Customers</h1>
        <ul id="customer-list">
            <li>
                <div class="customer-box">
                    <p></p>
                </div>
            </li>
        </ul>
    </section>
</div>
</body>
</html>