<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM Tool</title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<header id="main-header">
    <div class="container">
        <h1>Customer Creation Success</h1>
    </div>
</header>
<nav class="nav-bar">
    <div class="container">
        <h2>The customer was successfully added to the database.</h2>
        <ul>
            <li><a href="http://localhost:4567/index.html">Index</a></li>
            <li><a href="http://localhost:4567/customers/show">Show Customers</a></li>
        </ul>
    </div>
</nav>
</body>
</html>